body {
    background: url("https://wallpapercave.com/wp/wp2406803.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
}

/* NAVBAR */ 
#logo {
  color: #eee;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  letter-spacing: 12px;
  font-weight: 700;
  font-size: 3.2em
}

.navbar {
  background:  #151515;
  padding: 30px;
  display: flex;
  justify-content: flex-end;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
  margin-bottom: 40px;
}

.nav-link {
  color: #eee;
  font-weight: bold;
  font-size: 1.35em;
  display: inline;
  margin: 5px;
}


/*BURGER MENU */
/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  transform: translate(75%, 100%);
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #eee;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: grey;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

#portfolio {
  padding-top: 30px;
}

#contact {
  position: absolute;
  bottom: 60px;
}

.menu-item p {
  color: #eee;
  padding: 20px 10px 10px 18px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.15em;
}

.menu-item {
  border: none;
  text-decoration: none;
  outline: none !important;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  /* background: #020010; */
  background: #151515;
  font-size: 1.35em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

/*LOGIN*/
.login-container {
  font-family: 'Ubuntu', sans-serif;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 5%);
  width: 50vh;
  display: grid;
  justify-content: center;
  align-items: center;
  background: rgba(21, 21, 21, 0.8);
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
  padding: 10px 20px 30px 20px;
  border-radius: 10px;
}


.login-container input {
  background: rgba(255, 255, 255, 0.3);
  display: block;
  margin-top: 5px;
  margin-bottom: 20px;
  width: 250px;
  color: white;
}

.form-input {
  text-align: center;
  border: none;
  padding: 10px 100px;
  border-radius: 25px;
}

.login-container input::placeholder {
  color: white;
}

.login-container button {
  margin: 10px;
  color: white;
  background: #33406B;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  width: 120px;
  margin: 0 auto;
}

label,
.h3 {
  color: white;
  text-align: center;
  font-weight: bold;
}

.portfolio-table {
  font-family: 'Ubuntu', sans-serif;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 25%);
  width: 100vh;
  display: grid;
  justify-content: left;
  align-items: left;
  background: rgba(21, 21, 21, 0.9);
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
  padding: 30px 30px;
  border-radius: 10px;
  justify-content: center;
}

.portfolio-container table {
  color: white;
}

/* MODAL */


.close-modal-btn {
    color: white;
    cursor: pointer;
    float: right;
    font-size: 30px;
    margin: 0;
}

.close-modal-btn:hover {
    color: black;
}

.btn-cancel, .btn-continue {
    background: #33406B;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    padding: 10px;
}

.btn-cancel {
    background-color: #b71c1c;
    float: left;
}

.btn-continue {
    background-color: #1b5e20;
    float: right;
}

.back-drop {
    background-color: rgba(48, 49, 48, 0.42);
    height: 100%;
    position: fixed;
    transition: all 1.3s;
    width: 100%;
}

.open-modal-btn {
    margin: 15px;
    padding: 10px;
    font-weight: bold;
    background: #33406B;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    padding: 10px;
    width: 120px;
    position: relative;
    left: 85%;
}

.chat-container {
  font-family: 'Ubuntu', sans-serif;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100vh;
  height: 60vh;
  display: grid;
  justify-content: left;
  align-items: left;
  background: rgba(21, 21, 21, 0.9);
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
  padding: 30px 30px;
  border-radius: 10px;
}

.message-container {
  font-family: 'Ubuntu', sans-serif;
  position: relative;
  left: 50%;
  transform: translate(-50%, 625%);
  width: 100vh;
  display: grid;
  justify-content: left;
  align-items: left;
  background: rgba(21, 21, 21, 0.9);
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
  padding: 10px 10px;
  border-radius: 10px;
}

.message-container form {
  display: flex;
  width: 880px;
  justify-content: space-between;
}

.message-container .form-group {
  flex: 1 0 auto;
}

.message-container input {
  /* display: flex; */
  margin-top: 5px;
  margin-bottom: 20px;
  /* width: 670px; */
  color: white;
}


.message-container button {
  height: 32px;
  margin-left: 20px;
}

.portfolio-user {
  padding-bottom: 20px;
}

.table {
  font-size: 1.1em;
}

.table-header td {
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
}

.modal-container {
  font-family: 'Ubuntu', sans-serif;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 80%);
  width: 50vh;
  display: grid;
  justify-content: center;
  align-items: center;
  background: rgba(21, 21, 21, 0.8);
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
  padding: 10px 20px 30px 20px;
  border-radius: 10px;
}

.modal-container input {
  background: rgba(255, 255, 255, 0.3);
  display: block;
  margin-top: 5px;
  margin-bottom: 20px;
  width: 250px;
  color: white;
}

.modal-container input::placeholder {
  color: white;
}

.modal-container button {
  margin: 10px;
  color: white;
  background: #33406B;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  width: 120px;
  margin: 0 auto;
}

.chatbox td {
  padding: 5px;
}

.message_sender {
  color: #1277FC;
  font-size: 11px;
}

.message-btn {
    display: inline;
    font-weight: bold;
    background: #33406B;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    padding: 5px; 
    width: 100px;
}

.contact-container {
  font-family: 'Ubuntu', sans-serif;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100vh;
  font-size: 14px;
  display: grid;
  justify-content: left;
  align-items: left;
  background: rgba(21, 21, 21, 0.9);
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
  padding: 30px 30px;
  border-radius: 10px;
}

.contact-container td {
  padding: 20px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #151515;
  color: #eee;
  text-align: center;
  padding: 20px;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
}

.fab {
  padding: 10px;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

.container {
  padding-bottom: 2.5rem;
}

