body {
    background: url("https://wallpapercave.com/wp/wp2406803.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
}

#logo {
  color: #eee;
  position: absolute;
  float: right;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 12px;
  font-weight: 700;
}

#page-wrap {
  padding: 30px 0;
  color: #eee;
}

.nav-item {
  list-style-type: none;
  position: absolute;
  left: 85%;
}

.navbar {
  background:  #151515;
  padding: 30px 60px 70px;
  justify-content: space-between;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
}

.btn-link, .btn-link:hover, .btn-link:active, .btn-link:visited, .btn-link:focus {
  text-decoration: none;
  color: white;
}

.nav-link {
  color: #eee;
  font-weight: bold;
  margin: 20px;
}


/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #eee;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: grey;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #363946;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.a {
  padding: 10px;
  color: white;
}

.login-container {
  font-family: "Nunito", sans-serif;
  height: 80vh;
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  animation: fade-in 1s ease-in-out 0s;
}

.login-container {
  font-family: "Nunito", sans-serif;
  height: 80vh;
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  animation: fade-in 1s ease-in-out 0s;
}

.login-container div:nth-child(1) {
  background: rgba(21, 21, 21, 0.8);
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
  /* border: 1px solid black; */
  padding: 10px 20px;
  border-radius: 10px;
}

.login-container h2 {
  text-align: center;
  font-size: 30px;
  color: white;
}

.login-container input {
  background: rgba(255, 255, 255, 0.3);
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
  color: white;
}

.login-input {
  text-align: center;
  border: none;
  padding: 10px 100px;
  border-radius: 25px;
}

.login-container input::placeholder {
  color: white;
}

.button-group {
  display: grid;
  justify-content: center;
}

.login-container button {
  margin: 10px;
  color: white;
  background: #33406B;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
}

.login-container a {
  text-align: center;
  display: block;
  text-decoration: none;
  color: #d56637;
}